<a href="https://colab.research.google.com/github/Guillermina0406/Web_Scraping/blob/main/WebScraping_Beautiful_Soup_Labels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Este comando utiliza mamba, un gestor de paquetes.

-y indica que el comando debe responder automáticamente "sí" a cualquier pregunta que se le haga durante el proceso de instalación.

 lxml es una biblioteca de Python para trabajar con XML y HTML de manera eficiente y flexible.

 html5lib es una biblioteca de Python que proporciona un analizador HTML basado en los algoritmos de análisis HTML5.
 El comentario último el comando instalaría la versión 2.26.0 de la biblioteca requests usando pip. requests es una biblioteca de Python para realizar solicitudes HTTP de manera simple y amigable.

In [ ]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
!pip install requests==2.26.0

/bin/bash: line 1: mamba: command not found
Requirement already satisfied: lxml==4.6.4 in /usr/local/lib/python3.10/dist-packages (4.6.4)
/bin/bash: line 1: mamba: command not found
Requirement already satisfied: requests==2.26.0 in /usr/local/lib/python3.10/dist-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests==2.26.0) (1.26.19)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests==2.26.0) (2024.7.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests==2.26.0) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests==2.26.0) (3.7)

Beautiful Soup es una biblioteca de Python para extraer datos de archivos HTML y XML; nos centraremos en los archivos HTML. Esto se logra representando el HTML como un conjunto de objetos con métodos utilizados para analizar el HTML. Podemos navegar por el HTML en forma de árbol y/o filtrar lo que estamos buscando.

In [ ]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [ ]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [ ]:
# La podemos almacenar como una cadena en la variable HTML:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [ ]:
# Para analizar un documento, páselo al constructor BeautifulSoup,
# el objeto BeautifulSoup, que representa el documento como una estructura de datos anidada.
soup = BeautifulSoup(html, "html.parser")

Primero, el documento se convierte a Unicode (similar a ASCII) y las entidades HTML se convierten a caracteres Unicode. Beautiful Soup transforma un documento HTML complejo en un árbol complejo de objetos Python. El objeto BeautifulSoup puede crear otros tipos de objetos. En esta práctica de laboratorio, cubriremos los objetos BeautifulSoup y Tag que, para los fines de esta práctica de laboratorio, son idénticos, y los objetos NavigableString.

In [ ]:
# We can use the method prettify() to display the HTML in the nested structure:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

#Tag

Digamos que queremos el título de la página y el nombre del jugador mejor pagado, podemos usar la Etiqueta. El objeto Tag corresponde a una etiqueta HTML en el documento original, por ejemplo, el título de la etiqueta.

In [ ]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

In [ ]:
# podemos ver el tipo de etiqueta bs4.element.Tag
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [ ]:
# If there is more than one Tag with the same name, the first element with that Tag name is called, this corresponds to the most paid player:
tag_object=soup.h3
tag_object

Encerrado en el atributo b en negrita, resulta útil utilizar la representación de árbol. Podemos navegar hacia abajo en el árbol usando el atributo secundario para obtener el nombre.
## Children, Parents, and Siblings

Como se indicó anteriormente, el objeto Etiqueta es un árbol de objetos al que podemos acceder al elemento secundario de la etiqueta o navegar hacia abajo en la rama de la siguiente manera:

In [ ]:
tag_child =tag_object.b
tag_child

In [ ]:
# Puedes acceder al padre con el <code> parent</code>
parent_tag=tag_child.parent
parent_tag

In [ ]:
# esto es identico a
tag_object

In [ ]:
# tag_object parent es el elemento del cuerpo.
tag_object.parent

In [ ]:
# tag_object hermano es el elemento de párrafo
sibling_1=tag_object.next_sibling
sibling_1

In [ ]:
# sibling_2 es ​​el elemento de encabezado que también es hermano de sibling_1 y tag_object.
sibling_2=sibling_1.next_sibling
sibling_2

Ejercicio: next_sibling

Usando el objeto <code>sibling\_2</code> y la propiedad <code>next_sibling</code> para encontrar el salario de Stephen Curry:

In [ ]:
sibling_2.next_sibling

#Atributos HTML

Si la etiqueta tiene atributos, la etiqueta id="boldest" tiene una identificación de atributo cuyo valor es el más negrita. Puede acceder a los atributos de una etiqueta tratándola como un diccionario:

In [ ]:
tag_child['id']

'boldest'

In [ ]:
# Puedes acceder a ese diccionario directamente como atributos:
tag_child.attrs

{'id': 'boldest'}

También puede trabajar con el atributo de valores múltiples; consulte [1] para obtener más información.

También podemos obtener el contenido del atributo de la etiqueta usando el método get() de Python.

In [ ]:
tag_child.get('id')

'boldest'

# Cadena navegable

Una cadena corresponde a un fragmento de texto o contenido dentro de una etiqueta. Beautiful Soup usa la clase NavigableString para contener este texto. En nuestro HTML podemos obtener el nombre del primer jugador extrayendo el sting del objeto Tag tag_child de la siguiente manera:

In [ ]:
tag_string=tag_child.string
tag_string

'Lebron James'

In [ ]:
# we can verify the type is Navigable String
type(tag_string)

bs4.element.NavigableString

Un NavigableString es como una cadena de Python o una cadena Unicode, para ser más precisos. La principal diferencia es que también admite algunas funciones de BeautifulSoup. Podemos convertirlo en un objeto Sting en Python:

In [ ]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

# Filtrar

Los filtros le permiten encontrar patrones complejos, el filtro más simple es una cadena. En esta sección pasaremos una cadena a un método de filtro diferente y Beautiful Soup realizará una comparación con esa cadena exacta. Considere el siguiente HTML de lanzamientos de cohetes:

In [ ]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
   </tr>
  <tr>
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [ ]:
# Podemos almacenarlo como una cadena en la variable <code>table</code>:
table="<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"

In [ ]:
table_bs = BeautifulSoup(table, "html.parser")

# find_all
El método find_all() busca en los descendientes de una etiqueta y recupera todos los descendientes que coinciden con sus filtros.

La firma del método para find_all(nombre, atributos, recursivo, cadena, límite, **kwargs)

# name
Cuando configuramos el parámetro de nombre en un nombre de etiqueta, el método extraerá todas las etiquetas con ese nombre y sus hijos.

In [ ]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [ ]:
# El resultado es un Python Iterable como una lista, cada elemento es un objeto de etiqueta:
first_row =table_rows[0]
first_row

In [ ]:
# El tipo es etiqueta
print(type(first_row))

<class 'bs4.element.Tag'>

In [ ]:
# Nosotras podemos obtener a la niña
first_row.td

In [ ]:
# Si iteramos por la lista, cada elemento corresponde a una fila de la tabla:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>
row 1 is <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>

Como la fila es un objeto de celda, podemos aplicarle el método find_all y extraer celdas de la tabla en las celdas del objeto usando la etiqueta td, estos son todos los elementos secundarios con el nombre td. El resultado es una lista, cada elemento corresponde a una celda y es un objeto Tag, también podemos recorrer esta lista. Podemos extraer el contenido usando el atributo de cadena.

In [ ]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>
colunm 2 cell <td>80 kg</td>

In [ ]:
# Si usamos una lista, podemos compararla con cualquier elemento de esa lista.
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>,
 <td>80 kg</td>]

Atributos

Si no se reconoce el argumento, se convertirá en un filtro de los atributos de la etiqueta. Por ejemplo, el argumento id, Beautiful Soup filtrará según el atributo id de cada etiqueta. Por ejemplo, los primeros elementos td tienen un valor de id de vuelo, por lo tanto podemos filtrar en función de ese valor de id.

In [ ]:
table_bs.find_all(id="flight")

In [ ]:
# Podemos encontrar todos los elementos que tienen enlaces a la página de Wikipedia de Florida:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [ ]:
# Si configuramos el atributo href en Verdadero, independientemente de cuál sea el valor, el código encuentra todas las etiquetas con valor href:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

Existen otros métodos para tratar atributos y otros métodos relacionados; Echa un vistazo al siguiente enlace

Exercise: find_all

Using the logic above, find all the elements without href value

In [ ]:
table_bs.find_all('a', href=False)

[]

In [ ]:
# Usando la sopa de objetos, busque el elemento con el contenido del atributo de identificación establecido en "más negrita".
soup.find_all(id="boldest")

#string
Con string puedes buscar cadenas en lugar de etiquetas, donde encontramos todos los elementos con Florida:

In [ ]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

# find
El método find_all() escanea todo el documento en busca de resultados; si está buscando un elemento, puede usar el método find() para encontrar el primer elemento del documento. Considere las siguientes dos tablas:

In [ ]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>


<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td>
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [ ]:
# Almacenamos el HTML como una cadena de Python y asignamos two_tables:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [ ]:
# Creamos un objeto BeautifulSoup two_tables_bs
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

In [ ]:
# Podemos encontrar la primera tabla usando la tabla de nombres de etiquetas.
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [ ]:
# Podemos filtrar por el atributo de clase para encontrar la segunda tabla, pero como clase es una palabra clave en Python, agregamos un guión bajo.
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

# Descargar y eliminar el contenido de una página web
Descargamos el contenido de la página web:

In [ ]:
url = "http://www.ibm.com"

In [ ]:
# Usamos get para descargar el contenido de la página web en formato de texto y almacenarlo en una variable llamada datos:
data  = requests.get(url).text

In [ ]:
# Creamos un objeto BeautifulSoup usando el constructor BeautifulSoup
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

In [ ]:
# Scrape all links
# in html anchor/link is represented by the tag <a>
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://www.ibm.com/hybrid-cloud?lnk=hpUSbt1
https://www.ibm.com/consulting

# Scrape all images Tags

In [ ]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

# Scrape data from HTML tables

In [ ]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Antes de proceder a extraer un sitio web, es necesario examinar el contenido y la forma en que se organizan los datos en el sitio web. Abra la URL anterior en su navegador y verifique cuántas filas y columnas hay en la tabla de colores.

In [ ]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html.parser")
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [ ]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

# Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [ ]:
import pandas as pd

In [ ]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

Antes de proceder a extraer un sitio web, es necesario examinar el contenido y la forma en que se organizan los datos en el sitio web. Abra la URL anterior en su navegador y consulte las tablas en la página web.

In [ ]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html.parser")

In [ ]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [ ]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

30

Supongamos que estamos buscando la tabla de los 10 países con mayor densidad de población, podemos revisar la lista de tablas y encontrar la correcta que buscamos en función de los datos de cada tabla o podemos buscar el nombre de la tabla si está en la tabla. tabla, pero es posible que esta opción no siempre funcione.

In [ ]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

7

In [ ]:
# Vea si puede ubicar el nombre de la tabla, los 10 países más densamente poblados, a continuación.
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
  <sup class="reference" id="cite_ref-:10_105-0">
   <a href="#cite_note-:10-105">
    [100]
   </a>
  </sup>
 </caption>
 <tbody>
  <tr>
   <th scope="col">
    Rank
   </th>
   <th scope="col">
    Country
   </th>
   <th scope="col">
    Population
   </th>
   <th scope="col">
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th scope="col">
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,921,231
   </td>
   <td>
    719
   </td>
   <td>
    8,235
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    165,650,475
   </td>
   <td>
    148,460
   </td>
   <td>
    1,116
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <span class="mw-image-border" typeof="mw:File">
       <span>
        <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
       </span>
      </span>
     </span>
     <a href="/wiki/State_of_Palestine" title="State of Palestine">
      Palestine
     </a>
     <sup class="reference" id="cite_ref-106">
      <a href="#cite_note-106">
       [note 3]
      </a>
     </sup>
     <sup class="reference" id="cite_ref-107">
      <a href="#cite_note-107">
       [101]
      </a>
     </sup>
    </p>
   </td>
   <td>
    5,223,000
   </td>
   <td>
    6,025
   </td>
   <td>
    867
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
    <sup class="reference" id="cite_ref-108">
     <a href="#cite_note-108">
      [note 4]
     </a>
    </sup>
   </td>
   <td>
    23,580,712
   </td>
   <td>
    35,980
   </td>
   <td>
    655
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,844,834
   </td>
   <td>
    99,720
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    5,296,814
   </td>
   <td>
    10,400
   </td>
   <td>
    509
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    13,173,730
   </td>
   <td>
    26,338
   </td>
   <td>
    500
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/23px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/35px-Flag_of_Burundi.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/46px-Flag_of_Burundi.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Burundi" title="Burundi">
     Burundi
    </a>
   </td>
   <td>
    12,696,478
   </td>
   <td>
    27,830
   </td>
   <td>
    456
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,402,617
   </td>
   <td>
    21,937
   </td>
   <td>
    429
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,389,637,446
   </td>
   <td>
    3,287,263
   </td>
   <td>
    423
   </td>
  </tr>
 </tbody>
</table>

In [ ]:
import pandas as pd

population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])
temp_df_list = [] # create a list to store temporary dataframes

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        # create a temporary dataframe and append it to the list
        temp_df = pd.DataFrame({"Rank":[rank], "Country":[country], "Population":[population], "Area":[area], "Density":[density]})
        temp_df_list.append(temp_df)

# concatenate the list of dataframes into the main dataframe
population_data = pd.concat(temp_df_list, ignore_index=True)

population_data

  Rank                        Country     Population       Area Density
0    1                      Singapore      5,921,231        719   8,235
1    2                     Bangladesh    165,650,475    148,460   1,116
2    3  \n Palestine[note 3][101]\n\n      5,223,000      6,025     867
3    4                 Taiwan[note 4]     23,580,712     35,980     655
4    5                    South Korea     51,844,834     99,720     520
5    6                        Lebanon      5,296,814     10,400     509
6    7                         Rwanda     13,173,730     26,338     500
7    8                        Burundi     12,696,478     27,830     456
8    9                         Israel      9,402,617     21,937     429
9   10                          India  1,389,637,446  3,287,263     423

# Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html
Using the same url, data, soup, and tables object as in the last section we can use the read_html function to create a DataFrame.

Remember the table we need is located in tables[table_index]

We can now use the pandas function read_html and give it the string version of the table as well as the flavor which is the parsing engine bs4.

In [ ]:
pd.read_html(str(tables[5]), flavor='bs4')

<ipython-input-73-2faec2a9de15>:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(str(tables[5]), flavor='bs4')

[                                                                                                         #  \
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
 0                                                 NaN
 1                                                   1
 2                                                   2
 3                                                   3
 4                                                   4
 5                                                   5
 6                                                   6
 7                                                   7
 8                                                   8
 9                                                   9
 10                                                 10
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                               Most populous countries  \
                                    Unnamed: 1_level_1
                                    Unnamed: 1_level_2
                                    Unnamed: 1_level_3
                                    Unnamed: 1_level_4
                                    Unnamed: 1_level_5
                                    Unnamed: 1_level_6
                                    Unnamed: 1_level_7
                                    Unnamed: 1_level_8
                                    Unnamed: 1_level_9
                                   Unnamed: 1_level_10
                                   Unnamed: 1_level_11
 0   Graphs are unavailable due to technical issues...
 1                                            China[B]
 2                                               India
 3                                       United States
 4                                           Indonesia
 5                                            Pakistan
 6                                              Brazil
 7                                             Nigeria
 8                                          Bangladesh
 9                                              Russia
 10                                             Mexico
 11                                        World total
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2000  \
                                    Unnamed: 2_level_1
                                    Unnamed: 2_level_2
                                    Unnamed: 2_level_3
                                    Unnamed: 2_level_4
                                    Unnamed: 2_level_5
                                    Unnamed: 2_level_6
                                    Unnamed: 2_level_7
                                    Unnamed: 2_level_8
                                    Unnamed: 2_level_9
                                   Unnamed: 2_level_10
                                   Unnamed: 2_level_11
 0                                                 NaN
 1                                                1270
 2                                                1053
 3                                                 283
 4                                                 212
 5                                                 136
 6                                                 176
 7                                                 123
 8                                                 131
 9                                                 146
 10                                                103
 11                                               6127
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2015  \
                                    Unnamed: 3_level_1
                                    Unnamed: 3_level_2
                                    Unnamed: 3_level_3
                                    Unnamed: 3_level_4
                                    Unnamed: 3_level_5
                                    Unnamed: 3_level_6
                                    Unnamed: 3_level_7
                                    Unnamed: 3_level_8
                                    Unnamed: 3_level_9
                                   Unnamed: 3_level_10
                                   Unnamed: 3_level_11
 0                                                 NaN
 1                                                1376
 2                                                1311
 3                                                 322
 4                                                 258
 5                                                 208
 6                                                 206
 7                                                 182
 8                                                 161
 9                                                 146
 10                                                127
 11                                               7349
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                               2030[A]  \
                                    Unnamed: 4_level_1
                                    Unnamed: 4_level_2
                                    Unnamed: 4_level_3
                                    Unnamed: 4_level_4
                                    Unnamed: 4_level_5
                                    Unnamed: 4_level_6
                                    Unnamed: 4_level_7
                                    Unnamed: 4_level_8
                                    Unnamed: 4_level_9
                                   Unnamed: 4_level_10
                                   Unnamed: 4_level_11
 0                                                 NaN
 1                                                1416
 2                                                1528
 3                                                 356
 4                                                 295
 5                                                 245
 6                                                 228
 7                                                 263
 8                                                 186
 9                                                 149
 10                                                148
 11                                               8501
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
                                                                                         Unnamed: 5_level_1
                                                                                         Unnamed: 5_level_2
                                                                                         Unnamed: 5_level_3
                                                                                         Unnamed: 5_level_4
                                                                                         Unnamed: 5_level_5
                                                                                         Unnamed: 5_level_6
                                                                                         Unnamed: 5_level_7
                                                                                         Unnamed: 5_level_8
                                                                                         Unnamed: 5_level_9
                                                                                        Unnamed: 5_level_10
                                                                                        Unnamed: 5_level_11
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...                                                       ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...]

La función read_html siempre devuelve una lista de DataFrames por lo que debemos seleccionar el que queremos de la lista.

In [ ]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

<ipython-input-74-f3ca1f0ca0b3>:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

,#,Most populous countries,2000,2015,2030[A],Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_2,Unnamed: 2_level_2,Unnamed: 3_level_2,Unnamed: 4_level_2,Unnamed: 5_level_2
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_3,Unnamed: 2_level_3,Unnamed: 3_level_3,Unnamed: 4_level_3,Unnamed: 5_level_3
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_4,Unnamed: 2_level_4,Unnamed: 3_level_4,Unnamed: 4_level_4,Unnamed: 5_level_4
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_5,Unnamed: 2_level_5,Unnamed: 3_level_5,Unnamed: 4_level_5,Unnamed: 5_level_5
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_6,Unnamed: 2_level_6,Unnamed: 3_level_6,Unnamed: 4_level_6,Unnamed: 5_level_6
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_7,Unnamed: 2_level_7,Unnamed: 3_level_7,Unnamed: 4_level_7,Unnamed: 5_level_7
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_8,Unnamed: 2_level_8,Unnamed: 3_level_8,Unnamed: 4_level_8,Unnamed: 5_level_8
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_9,Unnamed: 2_level_9,Unnamed: 3_level_9,Unnamed: 4_level_9,Unnamed: 5_level_9
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_10,Unnamed: 2_level_10,Unnamed: 3_level_10,Unnamed: 4_level_10,Unnamed: 5_level_10
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_11,Unnamed: 2_level_11,Unnamed: 3_level_11,Unnamed: 4_level_11,Unnamed: 5_level_11
0,NaN,Graphs are unavailable due to technical issues...,NaN,NaN,NaN,NaN
1,1,China[B],1270,1376,1416,NaN
2,2,India,1053,1311,1528,NaN
3,3,United States,283,322,356,NaN
4,4,Indonesia,212,258,295,NaN
5,5,Pakistan,136,208,245,NaN
6,6,Brazil,176,206,228,NaN
7,7,Nigeria,123,182,263,NaN
8,8,Bangladesh,131,161,186,NaN
9,9,Russia,146,146,149,NaN
10,10,Mexico,103,127,148,NaN
11,NaN,World total,6127,7349,8501,NaN
12,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...

# Extraiga datos de tablas HTML en un DataFrame usando read_html
También podemos usar la función read_html para obtener DataFrames directamente desde una URL.

In [ ]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [ ]:
# Podemos ver que hay 25 DataFrames como cuando usamos `find_all` en el objeto `soup`.
len(dataframe_list)

27

In [ ]:
# Finalmente podemos seleccionar el DataFrame que necesitamos de la lista.
dataframe_list[5]

,#,Most populous countries,2000,2015,2030[A],Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_2,Unnamed: 2_level_2,Unnamed: 3_level_2,Unnamed: 4_level_2,Unnamed: 5_level_2
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_3,Unnamed: 2_level_3,Unnamed: 3_level_3,Unnamed: 4_level_3,Unnamed: 5_level_3
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_4,Unnamed: 2_level_4,Unnamed: 3_level_4,Unnamed: 4_level_4,Unnamed: 5_level_4
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_5,Unnamed: 2_level_5,Unnamed: 3_level_5,Unnamed: 4_level_5,Unnamed: 5_level_5
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_6,Unnamed: 2_level_6,Unnamed: 3_level_6,Unnamed: 4_level_6,Unnamed: 5_level_6
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_7,Unnamed: 2_level_7,Unnamed: 3_level_7,Unnamed: 4_level_7,Unnamed: 5_level_7
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_8,Unnamed: 2_level_8,Unnamed: 3_level_8,Unnamed: 4_level_8,Unnamed: 5_level_8
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_9,Unnamed: 2_level_9,Unnamed: 3_level_9,Unnamed: 4_level_9,Unnamed: 5_level_9
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_10,Unnamed: 2_level_10,Unnamed: 3_level_10,Unnamed: 4_level_10,Unnamed: 5_level_10
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_11,Unnamed: 2_level_11,Unnamed: 3_level_11,Unnamed: 4_level_11,Unnamed: 5_level_11
0,NaN,Graphs are unavailable due to technical issues...,NaN,NaN,NaN,NaN
1,1,China[B],1270,1376,1416,NaN
2,2,India,1053,1311,1528,NaN
3,3,United States,283,322,356,NaN
4,4,Indonesia,212,258,295,NaN
5,5,Pakistan,136,208,245,NaN
6,6,Brazil,176,206,228,NaN
7,7,Nigeria,123,182,263,NaN
8,8,Bangladesh,131,161,186,NaN
9,9,Russia,146,146,149,NaN
10,10,Mexico,103,127,148,NaN
11,NaN,World total,6127,7349,8501,NaN
12,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...,Notes: ^ 2030 = Medium variant. ^ China exclud...

También podemos usar el parámetro de coincidencia para seleccionar la tabla específica que queramos. Si la tabla contiene una cadena que coincide con el texto, se leerá.